
.board {
    display: grid;
    background-color: #ccffcc;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    border: solid 1px black;
    justify-content: center;
    padding: 1em 0 1em 0;

}

.field {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;


    font-size: 72px;
    color: royalblue;
    font-family: "Audiowide", sans-serif;

}

.field:hover {
    opacity: 0.7;
}

.field:active {
    opacity:0.5;
    background-color: lightpink;
}

button {
    cursor: pointer;
}

.field:disabled {
    background-color: yellow;
}

.winner {

    margin-top: 20px;
    font-family: "Apple Braille", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
}

input, .start, .restart {
    padding: 12px;

    align-items: center;
    justify-items: center;
    font-size: 24px;
    border-radius: 8px;
    margin: 12px;
}

.start:hover {
    opacity: 0.7;
}

.player {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.restart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}